@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');
body {
    background-color: #EEF0F8;
    font-family: 'Mulish', sans-serif;
    font-size: 14px!important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
.fv-plugins-message-container {
    text-align: center;
}

.header, .header.header-fixed {
    height: 65px;
}
.txt-mail {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 170px;
}
.menu-state-bullet-primary .menu-item .menu-link.active {
    background: rgba(77, 89, 149, 0.06)!important;
}
.menu-state-bullet-primary .menu-item .menu-link.active .menu-title {
    color: #3699FF!important;
}

.image-input.image-input-outline .image-input-wrapper {
    box-shadow: none!important;
}

.cover {
    object-fit: cover;
}
 table.dataTable#kt_table_users>thead .sorting_asc:after {
    display: none!important;
}

.dataTables_filter label {
    display: block;
    overflow: hidden;
    text-indent: -999px;
    position: relative;
}

.dataTables_filter label input {
    padding-left: 40px;
    background: url(../media/search.png) 10px center no-repeat;
    
}
#kt_table_users td {
    border: 0;
}

textarea {
    resize: none;
}

body:not([data-kt-sticky-header=on]) .topbar .btn.btn-icon .svg-icon svg [fill]:not(.permanent):not(g) {
    fill: #a1a5b7;
}